body {
  /* background-color: rgb(78, 11, 75); */
  background-image: linear-gradient(to right, rgb(243, 115, 136), rgb(250, 7, 189), rgb(236, 62, 62));
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
